h1 {
  font-family: helvetica;
  font-weight: 200;
}

.container-header{
  letter-spacing: 4px;
}

.single-match-container{
  border: 2px solid #dcdcdc;
  margin: 5px;
  padding: 10px;
}

.series-name{
  font-size: 16px;
  font-weight: 600;
}